.header {
    text-align: center;
}

.header__logo {
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.menu {
    font-style: italic;
    font-size: larger;
    font-variant: titling-caps;
    font-weight: 500;
    font-size: x-large;
}

.menu__curr-page {
    font-style: italic;
    font-size: larger;
    font-variant: titling-caps;
    font-weight: 500;
    font-size: xx-large;
}

.body {
    background-color: #fff5e8;
}

body {
    background-image: url(./assets/bkgrnd.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, p, b, footer {
    color: white;
    font-weight: 400;
}

a {
    color: #FF512F;
    font-family: Linotype;
    padding-top: 6px;
}

li {
    display: flex;
}

@font-face {
    font-family: Linotype;
    src: url(./font/Linotype.otf);
}

.feedback {
    background-color: burlywood;
    width: 279px;
    border-radius: 4px;
    padding: 10px
}